body {
    font-family: Helvetica;
}
#screen {
    position: absolute;
    height: 765px;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("images/jungle.png");
}
#lobby {
    height: 400px;
    width: 90%;
    background-color: rgba(255, 255, 255, .8);

}
#lobby-field{
    height: 60%;
    flex-direction: column;
}
#lobby-title {
    height: 20%;
    font-size: 35px;
}
#lobby-button {
    height: 20%;
}
.player {
    height: 50px;
    width: 50px;
    padding: 20px;
    background-color: grey;
    border-radius: 15px;
    text-align: center;
}
#game {
    display: none;
    height: 100%;
    flex-direction: column;
}
#upperScreen {
    height: 50%;
    width: 100%;
}
#mission {
    height: 35%;
    width: 100%;
}
.text {
    font-size: 30px;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
#mission-field {
    height: 80%;
    width: 90%;
    border-radius: 43px;
    background-color: rgba(255,255,255,0.6);
}

#question {
    height: 65%;
}
#question-field {
    height: 80%;
    width: 90%;
    background-color: rgba(255,255,255,0.6);
}

#lowerScreen {
    height: 50%;
}
.wrapper {
    height: 150px;
    width: 150px;
    border-radius: 43px;
    background-color: rgba(255,255,255,0.6);
}
.image-container {
    overflow: hidden;
    height: 110px;
    margin-top: -10px;
}
.images {
    object-fit: scale-down;
    height: 125px;
    height: 137px;
    width: 125px;
}
.quarter {
    height: 50%;
    width: 50%;
    float: left;
}
