body {
    font-family: Helvetica;
}
#screen {
    position: absolute;
    height: 765px;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("images/jungle.png");
}
#lobby {
    height: 400px;
    width: 90%;
    background-color: rgba(255, 255, 255, .8);

}
.avatars {
    width: 100%;
}
.image-container2 {
    overflow: hidden;
    height: 70px;
    margin-top: 5px;
}
#transition-screen{
    display: none;
}
#lobby-field{
    height: 55%;
    flex-direction: column;
}
#player-count {
    height: 5%;
}
#lobby-title {
    height: 20%;
    font-size: 35px;
}
#lobby-button {
    height: 20%;
}
.player {
    height: 90px;
    width: 90px;
    background-color: grey;
    border-radius: 15px;
    text-align: center;
    margin: 10px;
}
#player3, #player2 {
    display: none;
}

#players {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#game {
    display: none;
    height: 100%;
    flex-direction: column;
}
#upperScreen {
    height: 50%;
    width: 100%;
}
#mission {
    height: 35%;
    width: 100%;
}
.text {
    font-size: 30px;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
#mission-field {
    height: 80%;
    width: 90%;
    border-radius: 43px;
    background-color: rgba(255,255,255,0.6);
}
#mission-text {
    padding: 12px;
    font-size: 20px;
}

#question {
    height: 65%;
}
#question-field {
    height: 80%;
    width: 90%;
    background-color: rgba(255,255,255,0.6);
}

#lowerScreen {
    height: 50%;
}
.wrapper {
    height: 150px;
    width: 150px;
    border-radius: 43px;
    background-color: rgba(255,255,255,0.6);
}
.image-container {
    overflow: hidden;
    height: 110px;
    margin-top: -10px;
}
.images {
    object-fit: scale-down;
    height: 125px;
    height: 137px;
    width: 125px;
}
.quarter {
    height: 50%;
    width: 50%;
    float: left;
}
#life-lost-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(200, 0, 0, 0.3);
    display: none;
}
.flash {
    animation: flash 0.4s;
}
@keyframes flash {
    0% { opacity: 1;}
    50% { opacity: .1; }
    99% { opacity: 1; }
    100% { opacity: 0; display: none;}
}


.shake {
    animation: shake 0.4s;
}
@-webkit-keyframes shake {
    0% { -webkit-transform: translate(-50%, -50.5%) rotate(0deg); }
    10% { -webkit-transform: translate(-50.5%, -50.5%) rotate(-1deg); }
    20% { -webkit-transform: translate(-50%, -51%) rotate(1deg); }
    30% { -webkit-transform: translate(-50.3%, -49.5%) rotate(0deg); }
    40% { -webkit-transform: translate(-50.8%, -50.5%) rotate(1deg); }
    50% { -webkit-transform: translate(-51.5%, -50%) rotate(-1deg); }
    60% { -webkit-transform: translate(-51.5%, -49.5%) rotate(0deg); }
    70% { -webkit-transform: translate(-50.5%, -50.5%) rotate(-1deg); }
    80% { -webkit-transform: translate(-50.5%, -50.5%) rotate(1deg); }
    90% { -webkit-transform: translate(-50.5%, -50.5%) rotate(0deg); }
    100% { -webkit-transform: translate(-50.5%, -50.5%) rotate(-1deg); }
}


.move-background {
    animation: move-background 1s ease-in-out;
    animation-fill-mode:forwards;
}

@-webkit-keyframes move-background {
    0% { background-position-x: 0; }
    100% { background-position-x: -500px; }
}
